.show{
    min-height: 100px;
    transition: all 5s ease-in;
    background-color: transparent;
    /* display: flex; */
    opacity: 1;
}

.close{
    height: 0;
    opacity: 4;
    transition: all 5s ease-in;
}